$universal: 62vmin;
$unit: 1vmin;
$time-width: 30vw;
$color-world: #7D98A1;
$color-world: lightskyblue;
$color-local: #FCBF49;
$color-local: lightgreen;
$color-local: hsl(157, 100%, 49%);

.timeline-itself {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 1;
  transform: none;
  transform-origin: left center;
  transition: all .2s;

  // &.unscroll {
  .unscroll & {
    opacity: 0;
    transform: translate3d($unit * -1,0,0) scale3d(.98, 1, 1);
  }
}

//NAME POSITION
.timeline-position {
  z-index: 3;

  width: 100%;
  position: sticky;
  height: $unit * 5;
  top: 0;

  .content {
    position: relative;
    padding: $unit;
  }

  .name {
    position: absolute;
    top: $unit;
    left: 50%;
    border-radius: $unit;
    box-shadow: 0 0 $unit rgba(black, .2);
    font-size: .7rem;
    text-transform: uppercase;
    padding: 0 $unit;
    flex: 0 1 auto;

    &:first-child {
      background-color: #7D98A1;
      background-color: $color-world;
      padding-right: $unit * 4.5;
      text-align: right;
      transform: translate(-100%);
    }
    &:last-child {
      background-color: #FCBF49;
      background-color: $color-local;
      padding-left: $unit * 4.5;
      text-align: left;
      transform: none;
    }

  }
}

.time-list {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  li {
    .middle-name {
      background: #a77977;
      background: currentColor;
      height: $universal;
      margin: 0 auto;
      width: 1px;
      visibility: hidden;
    }
  }
}

//YEARS SETUP
.timeline-years-list {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .year {
    position: sticky;
    top: $unit;
    font-weight: bold;
    text-align: center;
    border-radius: $unit;
    background-color: #fff0f0;
    color: #1f1312;
    padding: 0 $unit;
    text-transform: uppercase;
  }

  li {
    &:first-child {
      padding-top: $unit;
      font-size: smaller;
    }
  }
}

// EPOCH setup
.epochs {
  z-index: 2;
  position: absolute;
  top: 0;
  width: calc(50% - #{$unit});
}

.epoch {
  padding: $unit * 2 $unit 0;
  &:last-child {
    padding-bottom: $unit * 2;
  }

  .epoch__inner {
    cursor: pointer;
    height: 100%;
    padding: $unit * 2 0;
    border-radius: $unit;
  }

  .name {
    position: sticky;
    top: $unit * 4;
    line-height: 1.4rem;
    padding: $unit;
    text-align: center;
  }
}

.left-timeline {
  left: $unit;
  .epoch__inner {
    background-color: rgba($color-world, .8);
    &:hover {
      background-color: darken(adjust-hue($color-world, -5deg), 10);
    }
  }
}

.right-timeline {
  right: $unit;
  .epoch__inner {
    background-color: rgba($color-local, .8);
    &:hover {
      background-color: darken(adjust-hue($color-local, -5deg), 10);
    }
  }
}

//EPOCH DETAIL
.epoch-detail{
  z-index: 5;

  position: sticky;
  top: $unit * 2;
  height: 100vh;
  margin-top: $unit * -5;
  width: calc(100% - #{$unit});
  background-color: #fce4e3;
  color: #1c1312;
  background-color: $color-world;
  border-top-right-radius: $unit;
  transition: transform .2s;
  word-break: break-all;

  &:hover {
    .detail__close {
      display: flex;
    }
  }
  
  &.visible {
    transform: none;

    .detail__data {
      opacity: 1;
    }
  }
  
  &.hidden {
    transform: translate3d(-100%, 0, 0);
  }

  .detail__data {
    padding: $unit * 3 $unit * 3 $unit * 4;
    opacity: 0;
    transition: opacity .2s ease-in;
  }

  .detail__close {
    z-index: 3;
    position: absolute;
    top: $unit;
    right: $unit;
    display: none;

    &:hover {
      button {
        background: #fdf2f2;
        color: #1c1312;
      }
    }

    button {
      display: flex;
      background: #1c1312;
      color: #fdf2f2;
      border: 0;
      -webkit-appearance: none;
      width: $unit * 3;
      height: $unit * 3;
      border-radius: $unit * 3;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }
  }

  .detail__name {
    small {
      opacity: .62;
    }
  }
}
