$universal: 62vmin;
$unit: 1vmin;
$color-world: lightskyblue;
$color-local: hsl(157, 100%, 49%);


.timeline__exercises {
  .exercises {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    grid-gap: $unit;
    opacity: 1;
    overflow-y: auto;
    padding: $unit * 2 $unit * 2;
    transform: none;
    transform-origin: 38% center;
    transition: all .2s;

    &.unscroll {
      overflow-y: hidden;
      opacity: .62;
      transform: scale3d(.9,.9,1);
    }
    
    .exercise-item {
      position: relative;
      flex: 1 0 $unit * 24 / 1.5;
      height: $unit * 40 / 1.25;

      &:last-child {
        margin-bottom: $unit * 2;
      }
    }

    .card {
      border-radius: $unit;
      cursor: pointer;
    }

    .card-img {
      border-radius: 0;
    }
  }
}

.is-detail .exercises,
.is-detail ~ .exercises {
  overscroll-behavior: contain;
}

//EXERCISE DETAIL
.exercise-detail {
  z-index: 3;
  
  position: absolute;
  top: $unit * 2;
  right: 0;
  bottom: $unit * 2;
  bottom: 0;
  width: 100%;
  width: calc(100% - #{$unit * 2});
  color: #fdf2f2;
  transition: transform 0.2s;
  display: flex;
  background-color: rgba(#1c1312, .62);
  background: linear-gradient(180deg, rgba(#1c1312, .8) 0,rgba(#1c1312, 1));
  background: #1c1312;
  border: 1px solid #1c1312;
  border-top-left-radius: $unit;

  &:hover {
    .detail__close {
      display: flex;
    }
  }

  .detail__hero {
    flex: 1;
    min-width: 38vw;
    position: relative;
    color: #fdf2f2;
    width: calc(100% - 450px);
    height: 100%;
    padding: $unit * 3 $unit * 4 $unit * 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    opacity: 0;
    transition: opacity .1s .2s;
  }

  .detail__close {
    z-index: 3;
    position: absolute;
    top: $unit;
    left: $unit;
    display: none;

    &:hover {
      button {
        background: #fdf2f2;
        color: #1c1312;
      }
    }

    button {
      display: flex;
      background: #1c1312;
      color: #fdf2f2;
      border: 1px solid #fdf2f2;
      -webkit-appearance: none;
      width: $unit * 3;
      height: $unit * 3;
      border-radius: $unit * 3;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
    }
  }

  .detail__name {
    grid-area: name;
    
    small {
      opacity: .62;
    }
  }

  .detail__text {
    grid-area: about;
  }

  .detail__buttons {
    grid-area: buttons;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    h6 {
      margin-bottom: $unit;
    }

    .button {
      margin: 0 auto $unit;
      max-width: 380px;
      width: 100%;
    }
  }

  .detail__image {
    flex: 0 1px;
    order: 1;
    transition: flex .5s .5s ease-in;
    transition: flex .2s .5s cubic-bezier(0.25, 1, 0.5, 1);

    &:hover {
      flex: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &.visible {
    transform: none;

    .detail__hero {
      opacity: 1;
    }

    .detail__image {
      flex: 0 450px;
      transition: flex .5s cubic-bezier(0.25, 1, 0.5, 1);

      &:hover {
        flex: 1;
      }
    }
  }
  &.hidden {
    transform: translate3d(100%, 0, 0);
  }
}



.card__meta {
  z-index: 9;
  position: absolute;
  top: $unit;
  left: $unit;
  right: $unit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card__meta__item {
  border-radius: $unit;
  box-shadow: 0 0 $unit rgba(0, 0, 0, 0.5);
  font-size: .875em;
  line-height: $unit * 2;
  padding: 0 $unit;
  color: #1c1312;
  background-color: #fff;
}

.card-difficulty {
  position: absolute;
  top: $unit;
  left: $unit;
  width: $unit * 2.5;
  height: $unit * 2.5;
  z-index: 2;

  
  svg {
    border-radius: $unit * 2.5;
    box-shadow: 0 0 $unit rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #1c1312;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  circle {
    fill: greenyellow;
  }

}