$universal: 62vmin;
$unit: 1vmin;

.header {
  margin-bottom: 0;
}

.timeline {
  display: flex;
  flex-direction: row;
}

.timeline__item {
  position: relative;
}

.timeline__time {
  z-index: 0;
  flex: 0 450px;
  background: #fdf2f2;
}

.timeline__exercises {
  z-index: 1;
  flex: 1;
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-x: visible;

  &:not(.unscroll) {
    overflow-x: hidden;
  }
}
  

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}