h1 Obnovení hesla
div.container
    p Obdrželi jste tento email, protože jste si Vy (případně někdo jiný) vyžádal/a obnovit heslo k Vašemu účtu.
    p!= `Heslo si můžete obnovit ve formuláři na adrese <a href="${resetUrl}">${resetUrl}</a>.`

div.footer
    p Tento e-mail vám zaslala aplikace HistoryLab z dílny ÚSTR. Pokud jste o ní nikdy neslyšeli, tak e-mail, prosím, ignorujte. Na tento e-mail neodpovídejte.