h1 A comment was added to your assignment #{catalog.name}
div.container
    p Your teacher has commented on and/or evaluated your assignment in the HistoryLab application:
    if evaluation.score > 0
        p #{evaluation.note} (#{evaluation.score}/100)
    else
        p #{evaluation.note}

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message. Please do not reply to this email.