h1 Registrace do HistoryLabu
div.container
    p Obdrželi jste tento email, protože jste si vytvořili účet v HistoryLabu.
    p!= `Přihlasit se můžete <a href="${loginUrl}">zde</a>.`

div.footer
    p Tento e-mail vám zaslala aplikace HistoryLab z dílny ÚSTR. Pokud jste o ní nikdy neslyšeli a účet sami nevytvořili, pak nás kontaktujte a účet zrušíme. Na tento e-mail neodpovídejte.