h1 Zadání cvičení #{catalog.name}
div.container
    p Váš vyučující vám zadal cvičení v aplikaci HistoryLab. 
    p!= `Vyplnit ho můžete na adrese <a href="${assignmentUrl}">${assignmentUrl}</a>.`

div.footer
    p Tento e-mail vám zaslala aplikace HistoryLab z dílny ÚSTR. Pokud jste o ní nikdy neslyšeli, tak e-mail, prosím, ignorujte. Na tento e-mail neodpovídejte.