svg#logo(xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' viewbox='0 0 266 266')
  path(d='M3 199a3 3 0 0 1-3-3V97a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H18a3 3 0 0 0-3 3v69a3 3 0 0 0 3 3h91a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3z')
  path(d='M157 199a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h91a3 3 0 0 0 3-3v-70a3 3 0 0 0-3-3h-33a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v100a3 3 0 0 1-3 3z')
  path(d='M128.06 199a3 3 0 0 1-3-3v-22a3 3 0 0 0-3-3H70a3 3 0 0 1-3-3V70a3 3 0 0 1 3-3h126a3 3 0 0 1 3 3v98a3 3 0 0 1-3 3h-52a3 3 0 0 0-3 3v22a3 3 0 0 1-3 3zM181 156a3 3 0 0 0 3-3V85a3 3 0 0 0-3-3H85a3 3 0 0 0-3 3v68a3 3 0 0 0 3 3z')