doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title HistoryLab &mdash; Digitální dílna pro práci s historickými prameny
  link(rel='stylesheet' href='/static/ulozeno/styles.css')
main
  include logo.pug
  h1 Cvičení bylo úspěšně uloženo a odesláno na vyplněné emailové adresy:
  ul(class='emailAddresses')
    each emailAddress in emailAddresses
      li= emailAddress
  p
  h2 URL uloženého cvičení:
  h2
    p!= `<a href="${viewUrl}">${viewUrl}</a>`
  p.text-centered
    span.text-small Potřebujete pomoc?&nbsp;
    a.helpdesk(href='mailto:helpdesk@historylab.cz') helpdesk@historylab.cz
  script(src='/static/ulozeno/jro1rpp.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}