doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title HistoryLab &mdash; Digital workshop for work with historical sources
  link(rel='stylesheet' href='/static/ulozeno/styles.css')
main
  include logo.pug
  h1 Your work was have been saved and message have been sent to provided email addresses:
  ul(class='emailAddresses')
    each emailAddress in emailAddresses
      li= emailAddress
  p
  h2 You can view the result of your work at
  h2
    p!= `<a href="${viewUrl}">${viewUrl}</a>`
  p.text-centered
    span.text-small Do you need an assistance?&nbsp;
    a.helpdesk(href='mailto:helpdesk@historylab.cz') helpdesk@historylab.cz
  script(src='/static/ulozeno/jro1rpp.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}