doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title HistoryLab &mdash; Digital workshop for work with historical sources
  link(rel='stylesheet' href='/static/ulozeno/styles.css')
main
  include logo.pug
  h1 Your work was have been saved and message have been sent to provided email addresses:
  ul(class='emailAddresses')
    each emailAddress in emailAddresses
      li= emailAddress
  p
  h3 Redirecting to #[a(href=redirect_url)=redirect_url] after #[span(id='countdown') 10] seconds.
  script(src='/static/ulozeno/jro1rpp.js')
  script(src='/static/ulozeno/redirect.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  script.    
    countdown(20, '#{redirect_url}');