doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title HistoryLab &mdash; Digitální dílna pro práci s historickými prameny
  link(rel='stylesheet' href='/static/ulozeno/styles.css')
main
  include logo.pug
  h1 Cvičení bylo úspěšně uloženo a odesláno na vyplněné emailové adresy:
  ul(class='emailAddresses')
    each emailAddress in emailAddresses
      li= emailAddress
  p
  h3 Za chvíli bude stránka automaticky přesměrována na adresu #[a(href=redirect_url)=redirect_url] (#[span(id='countdown') 10] s).
  script(src='/static/ulozeno/jro1rpp.js')
  script(src='/static/ulozeno/redirect.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  script.    
    countdown(20, '#{redirect_url}');