.template-exercise-details .label {
  color: #A77977;
}

.template-exercise-details .input-group {
  display: inline-flex;
}

.template-exercise-details .form-control {
  padding: 0;
  font-size: .875rem;
  color: #495057;
  background-color: transparent;
  border: 0;
  text-overflow: ellipsis;
  height: auto;
}

.template-exercise-details .input-group-append {
  cursor: pointer;
}

.template-exercise-details .input-group-text {
  padding: 0;
  font-size: .875rem;
  color: #495057;
  background-color: transparent;
  border: 0;
  line-height: calc(2.25rem + 2px);
}

.template-exercise-details .nav-link {
  cursor: pointer;
}

.template-exercise-details .tab-pane {
  background-color: white;
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: .8rem;
}

.template-exercise-details thead th {
  border-top: 0;
}

.template-exercise-details table + .btn-group {
  border-top: 1px solid #dee2e6;
  padding-top: .8rem;
  width: 100%;
}
