//
@import "~modularscale-sass/stylesheets/modularscale";

//
@import "./variables";

//
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_root";
@import "~bootstrap/scss/_reboot";
@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/_images";
@import "~bootstrap/scss/_code";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_tables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_input-group";
@import "~bootstrap/scss/_custom-forms";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_card";
@import "~bootstrap/scss/_breadcrumb";
@import "~bootstrap/scss/_pagination";
@import "~bootstrap/scss/_badge";
// @import "~bootstrap/scss/_jumbotron";
@import "~bootstrap/scss/_alert";
@import "~bootstrap/scss/_progress";
@import "~bootstrap/scss/_media";
@import "~bootstrap/scss/_list-group";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_toasts";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_popover";
@import "~bootstrap/scss/_carousel";
@import "~bootstrap/scss/_spinners";
@import "~bootstrap/scss/_utilities";
@import "~bootstrap/scss/_print";

//
@import "./toolbox";
@import "./typography";

//
.breadcrumb {
  a {
    color: $breadcrumb-color;
  }
}

.btn-group {
  // Prevent double borders when buttons are next to each other
  > .btn:not(:hover) {
    &:not(:first-child) {
      border-left: 1px solid rgba($dark, 0.25);
    }
    &:not(:last-child) {
      border-right: 1px solid rgba($dark, 0.25);
    }
  }
}

.btn-block {
  max-width: $spacer * 12.5;
  margin: 0 auto;
}

.modal--login {
  .logo {
    max-width: $spacer * 8.75;
    margin: $spacer auto 0;
  }

  .LoginForm {
    .row {
      max-width: initial;
    }
  }
}

.nav-pills {
  &.flex-column {
    margin-right: $spacer;

    .nav-link {
      min-width: 20ch;
    }
  }

  .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-link {
  cursor: pointer;
}

.table {
  border-radius: $border-radius;
  overflow: hidden;
}
