h3,
ul {
  margin: 0px !important;
  padding: 0px !important;
}

.package-exercise-container {
  display: flex;
  padding-bottom: 10px;
}

.package-exercise-container .col2 {
  padding-left: 20px;
  flex: 1;
}

.package-exercise-container .col3 {
  padding-left: 20px;
  width: 250px;
}

.card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
}

.grid {
  display: block;
  width: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.grid * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.box {
  border-style: dashed;
}

.grid-item {
  height: 19.2rem;
}

.grid-item-inner {
  height: 100%;
}

.card:hover .card-title {
  color: #fdf0f0;
}

.card {
  -ms-flex-flow: column;
  -ms-flex-pack: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(26, 20, 19, 0);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0.4rem 0.8rem rgba(26, 20, 19, 0.2);
  color: #fce0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  overflow: hidden;
  padding: 1.2rem 0.8rem;
  position: relative;
  will-change: transform;
}

a.card:hover {
  color: #fce0df;
  text-decoration: none;
}

.card-image,
.card-image:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.card-image-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image:before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(26, 20, 19, 0.24)),
    to(rgba(26, 20, 19, 0.9))
  );
  content: "";
}

.card-text {
  position: relative;
  z-index: 10;
}

.card-authors {
  font-size: 0.6875rem;
}

.card-title {
  -webkit-transition: color 0.19s ease;
  color: #fce0df;
  line-height: 1.6rem;
  transition: color 0.19s ease;
}

.card-description,
.card-title {
  text-shadow: 0 1px 0.38em rgba(0, 0, 0, 0.5);
}

.card .card-description,
.card .taxonomy {
  -webkit-transition: opacity 0.19s ease;
  transition: opacity 0.19s ease;
  will-change: opacity;
}

.card-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
  opacity: 0.8;
}

.card .card-description,
.card .taxonomy {
  -webkit-transition: opacity 0.19s ease;
  transition: opacity 0.19s ease;
  will-change: opacity;
}

.card .taxonomy {
  font-size: 0.6875rem;
  opacity: 0.62;
}

.taxonomy {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 1.2rem;
  list-style: none;
  margin-bottom: 0.4rem;
}

.taxonomy-item {
  border-bottom: 1px dotted;
  display: inline;
  margin-right: 0.4rem;
}

#refreshButton {
  text-decoration: none;
  background-color: #d9dfe7;
  color: black;
  border-radius: 15px;
  border: 2px solid black;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(83, 82, 166, 0.5);
  -webkit-transition: background-color 0.19s ease, color 0.19s ease,
    -webkit-box-shadow 0.19s ease;
  -webkit-user-select: none;
  border: 1px solid currentColor;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 0.4rem rgba(26, 20, 19, 0.5);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 0.4rem 0.6rem;
  position: relative;
  text-align: center;
  transition: background-color 0.19s ease, color 0.19s ease,
    -webkit-box-shadow 0.19s ease;
  -o-transition: background-color 0.19s ease, color 0.19s ease,
    box-shadow 0.19s ease;
  transition: background-color 0.19s ease, color 0.19s ease,
    box-shadow 0.19s ease;
  transition: background-color 0.19s ease, color 0.19s ease,
    box-shadow 0.19s ease, -webkit-box-shadow 0.19s ease;
  user-select: none;
  white-space: nowrap;
  margin: auto;
  margin-bottom: 10px;
}

#refreshButton:active {
  box-shadow: none;
}

#ribbon-box {
  z-index: 2;
  position: absolute;
  top: 0em;
  right: 1em;
}

.ribbon {
  color: red;
  font-size: 3em;
  vertical-align: top;
}
