h1 Cvičení #{catalog.name} vyplněno
div.container
    p Některý váš student právě vyplnil cvičení v aplikaci HistoryLab.
    p!= `Vyplněné cvičení naleznete na adrese <a href="${submission.viewUrl}">${submission.viewUrl}</a>.`

p Zpětnou vazbu můžete dát studentovi skrze administraci.

div.footer
    p Tento e-mail vám zaslala aplikace HistoryLab z dílny ÚSTR. Pokud jste o ní nikdy neslyšeli, tak e-mail, prosím, ignorujte. Na tento email neodpovídejte.