h1 Your account in the HistoryLab application has been created
div.container
    p You are receiving this message because you requested a new HistoryLab application to be created.
    p!= `You can sign in <a href="${loginUrl}">here</a>.`

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message. Please do not reply to this email.