h1 Cvičení #{catalog.name} vyplněno
div.container
    p Právě jste úspěšně vyplnili cvičení v aplikaci HistoryLab.
    p!= `Své vyplněné cvičení naleznete na adrese <a href="${submission.viewUrl}">${submission.viewUrl}</a>, zároveň bylo odesláno vašemu vyučujícímu.`

div.footer
    p Tento e-mail vám zaslala aplikace HistoryLab z dílny ÚSTR. Pokud jste o ní nikdy neslyšeli, tak e-mail, prosím, ignorujte. Na tento email neodpovídejte.