h1 Forgotten password request
div.container
    p Somebody (hopefully you) requested a new password for your HistoryLab account. No changes have been made to your account yet.
    p!= `You can reset your password by using the following link <a href="${resetUrl}">${resetUrl}</a>.`
    p If you did not request a new password, please feel free to ignore this message. No changes have been made to your account yet.

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message. Please do not reply to this email.