// https://github.com/paranoida/sass-mediaqueries
@import "~sass-mediaqueries/media-queries";
@import "css/variables";

.Catalog {
  .section-inner {
    max-width: initial;
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{$spacer * 12}, 1fr));
    grid-auto-rows: $spacer * 16;
    grid-gap: $spacer * 0.5;
    padding: $spacer * 0.5;

    @include portrait {
      grid-auto-rows: minmax(min-content, 50vmax);
    }
  }

  .grid-item-inner {
    width: 100%;
     height: initial;
  }

  .grid-item {
    display: flex;
    height: initial;
  }

  .card-text {
    margin-top: $spacer;
  }
}
