//@import "~modularscale-sass/stylesheets/modularscale";
@import "./css/variables";

.CatalogExerciseDetail {
  position: relative;
  margin: 0;
  background-color: $dark;

  > .container-fluid {
    // background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $light;
    height: 100vh;
    min-height: $spacer * 27;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    > :not(.CatalogExerciseDetail__image) {
      margin-left: auto;
      margin-right: auto;
    }

    svg {
      vertical-align: text-top;
    }
  }
}

.CatalogExerciseDetail__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  filter: blur(10px);

  ~ * {
    position: relative;
  }
}

.CatalogExerciseDetail__authors {
  font-size: $spacer / 2.5;
  // line-height: $spacer * 1.5;
  text-transform: uppercase;
  letter-spacing: 0.038em;
  // margin-bottom: $spacer / 4;
  opacity: 0.8;
}

.CatalogExerciseDetail__name {
  text-shadow: 0 1px 0.38em rgba(26, 20, 19, 0.62);

  h1 {
    font-size: $display3-size;
    margin-bottom: $spacer * 0.5;
  }
}

.CatalogExerciseDetail__meta {
  display: flex;
  justify-content: center;
  font-size: $spacer / 2;
  // line-height: $spacer * 1.5;
  margin-bottom: $spacer * 1.5;
  opacity: 0.8;

  .meta__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 $spacer / 2;

    &:not(:first-child) {
      border-left: 1px solid rgba($light, 0.38);
    }

    svg {
      margin-right: 1ch;
    }
  }

  .meta__item--taxonomy {
    // max-width: 90ch;
  }

  .meta__item--time {
    min-width: $spacer * 2.5;
  }

  .meta__item--manual {
    min-width: $spacer * 5.625;
    color: currentColor;
  }

  .taxonomy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .taxonomy__item {
    text-decoration: underline dotted;
    white-space: nowrap;

    &:not(:first-child) {
      margin-left: $spacer / 4;
    }
  }

  // .svg-icon {
  //   width: $spacer / 2;
  //   height: $spacer / 2;
  //   margin: 0px 5px 1px 0px;
  //   vertical-align: text-bottom;
  // }
}

.CatalogExerciseDetail__description {
  max-width: 90ch;
  margin-bottom: $spacer;
}

.CatalogExerciseDetail__buttons {
  display: grid;
  grid-template-areas:
    "heading . ."
    "enrollmentButtons or try";
  column-gap: $spacer;
  row-gap: 0.2rem;
  align-items: center;

  background-color: rgba($dark, 0.62);
  border-radius: $spacer / 2;
  box-shadow: 0 0 $spacer rgba($dark, 0.62);
  // color: $dark;
  padding: $spacer;
  opacity: 0.8;

  // .btn {
  //   @include button-variant(#cece19, #000000, #2dbe27);
  // }

  .btn svg {
    margin-right: 0.62ch;
  }
}

.CatalogExerciseDetail__heading {
  grid-area: heading;
  text-align: left;

  > * {
    color: currentColor;
  }
}

.CatalogExerciseDetail__enrollmentButtons {
  grid-area: enrollmentButtons;
}

.CatalogExerciseDetail__or {
  grid-area: or;
}

.CatalogExerciseDetail__try {
  grid-area: try;
}
