@import "./css/variables";

.hl-card {
  position: relative;
  height: #{'max(20vh, 15rem)'};
  max-width: #{'max(20vh, 15rem)'};
  color: var(--light);

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: currentColor;

      &:hover {
        color: currentColor;
        text-decoration: none;
      }
  }

  .card-img-overlay {
    background-color: rgba($dark, .68);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    
    .card-body {
      flex: initial;
    }
  }

  .card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: 0;
    z-index: 2;
  }

  .hl-card__controls {
    a {
      color: currentColor;
    }
  }

  .hl-show-on-hover {
    display: none;
  }

  &:hover {
    .hl-show-on-hover {
      display: block;
    }
  }

  &.is-archived {
    opacity: .38;

    .hl-card__controls {
      justify-content: flex-end;
    }
  }
}

.hl-card--exercise {
  height: #{'max(20vh, 25rem)'};
  max-width: #{'max(20vh, 25rem)'};
  padding: 0;

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}