.layout__header {
  justify-content: space-between;

  .subHeader {
    flex: initial;
    width: auto;
  }
}

.btn-tutorial {
  position: fixed;
  top: 180px;
  left: -32px;
  transform: rotateX(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  //width: 35px;
  padding: 10px;
  text-align: center;
  background: #6dad53;

  svg {
    margin-right: 5px;
  }
}
