.footer {
  background: var(--dark);
  color: var(--light);
  height: 16rem;
  text-align: right;

  a {
    color: currentColor;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color 0.1s cubic-bezier(0.62, 0.05, 0.38, 1),
      border-bottom-color 0.1s cubic-bezier(0.62, 0.05, 0.38, 1);

    &:hover {
      border-bottom: 1px solid currentColor;
      text-decoration: none;
    }
  }
}

.footer-navigation {
  li {
    display: inline-block;
    margin-right: 1.6rem;
  }
}

.footer-logo svg {
  fill: currentColor;
  height: 1.6rem;
}