//@import "~modularscale-sass/stylesheets/modularscale";
@import "./css/variables";

.header {
  // background-color: var(--primary);
  color: var(--primary);

  &--test {
    // background-color: var(--dark);
    // color: var(--dark);
    color: var(--primary);
  }

  &.is-inverted {
    color: var(--light);
  }

  &.is-absolutePositioned {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    z-index: 1;
  }

  .logo {
    &,
    &:hover {
      border-bottom: 0;
    }
  }

  .LanguageSwitcher {
    .LanguageSwitcher__divider {
      margin: 0 0.62ch;
    }
  }

  a,
  button {
    color: currentColor;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color 0.1s cubic-bezier(0.62, 0.05, 0.38, 1),
      border-bottom-color 0.1s cubic-bezier(0.62, 0.05, 0.38, 1);
    line-height: 1;

    &:hover {
      border-bottom: 1px solid currentColor;
      color: #d13936;
      text-decoration: none;
    }
  }

  button {
    appearance: none;
    border-radius: 0;
    padding: 0;
  }

  svg {
    fill: currentColor;
  }
}

.MainHeader__testServer {
  color: #a77977;
  font-size: $font-size--1;
  letter-spacing: -0.025em;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0.5ch;
  margin-left: 2ch;
}

#mobile-menu-toggle {
  align-items: center;
  color: #d13936;
  display: flex;
}

@media only screen and (min-width: 992px) {
  #mobile-menu-toggle {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .main-menu {
    background-color: transparent;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    line-height: 4.8rem;
    padding: 0;
    position: relative;
    text-align: right;
    top: auto;
  }
}

@media only screen and (max-width: 992px) {
  .main-menu {
    background-color: #9d6e6c;
    display: none;
    line-height: 3.6rem;
    padding: 1.6rem 0;
    position: absolute;
    top: 100%;
  }
}

.main-menu {
  font-size: 1rem;
  left: 0;
  right: 0;
}

.header .logo svg {
  height: 1.6rem;
  width: 8.29831rem;
}

svg {
  fill: currentColor;
  max-width: 100%;
  stroke: transparent;
  stroke-width: 0;
}

#mobile-menu-toggle .svg-icon,
#mobile-menu-toggle span {
  display: inline-block;
}

#mobile-menu-toggle span {
  padding: 0 0.8rem;
}

#mobile-menu-toggle .svg-icon {
  height: 1.6rem;
  width: 2rem;
}

#mobile-menu-toggle .svg-icon,
#mobile-menu-toggle span {
  display: inline-block;
}

.svg-icon {
  display: inline-block;
}

#mobile-menu-toggle svg {
  height: 100%;
  stroke: #d13936;
  stroke-width: 5px;
  width: 100%;
}

#navigation {
  white-space: nowrap;
}

.main-menu ul {
  margin: 0;
}

ol,
ul {
  margin: 0;
  margin-bottom: 1.6rem;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  #navigation li {
    margin: 0 0 0 1.6rem;
  }
}

@media only screen and (min-width: 992px) {
  .main-menu li {
    display: inline-flex;
    align-items: center;
  }
}
