h1 Activity #{catalog.name} completed
div.container
    p You have just completed an activity in the HistoryLab application.
    p!= `You can view the results of your work at <a href="${submission.viewUrl}">${submission.viewUrl}</a>.`
    p We have also notified your teacher.

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message. Please do not reply to this email.