h1 Komentář ke cvičení #{catalog.name}
div.container
    p Váš vyučující okomentoval vaše cvičení v aplikaci HistoryLab:
    if evaluation.score > 0
        p #{evaluation.note} (#{evaluation.score}/100)
    else
        p #{evaluation.note}

div.footer
    p Tento e-mail vám zaslala aplikace HistoryLab z dílny ÚSTR. Pokud jste o ní nikdy neslyšeli, tak e-mail, prosím, ignorujte. Na tento e-mail neodpovídejte.   