h1 Exercise assignment #{catalog.name}
div.container
    p Your teacher has assigned you an exercise in the HistoryLab application.
    p!= `Finish the assignment at <a href="${assignmentUrl}">${assignmentUrl}</a>.`

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message. Please do not reply to this email.