h1 Activity #{catalog.name} completed
div.container
    p A student of yours have just completed an activity in the HistoryLab application.
    p!= `You can view the results at <a href="${submission.viewUrl}">${submission.viewUrl}</a>.`

p Please provide a feedback on student activity in the administration section. 

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message. Please do not reply to this email.