h1 Shared activity #{catalog.name} 
div.container
    p You have just completed an activity with the whole class in the HistoryLab application. 
    p!= You can find the completed activity at  <a href="${submission.viewUrl}">zde</a>.`

div.footer
    p This email was sent to you by the HistoryLab application, created by USTR (Institute for the Study of Totalitarian Regimes). If this is unfamiliar to you, you can ignore this message.    